@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
  box-sizing: border-box;
}

body {
  color:black;
  font-family: "Khula", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: rgb(101, 101, 101);
  text-decoration: none;
}

a:hover {
  color: #000000;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: white;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  display: flex;
  
  background-color: transparent;
  border: 2px solid #848484;
  color: rgb(117, 117, 117);
  cursor: pointer;
  font-family: inherit;
  padding: 10px 20px 5px;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #000000;
  color: #000000;
}

.hide {
  opacity: 0;
}

.primary {
  color: #000000;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: #fff;
  box-shadow: -8px -8px 20px rgb(42, 51, 61, 0.03), 10px 7px 20px rgb(71, 84, 98, 0.06);
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  position: absolute;
  background-color: rgb(255, 0, 251);
  border-radius: 50%;
  border: 1px solid rgb(82, 82, 82);
  cursor: pointer;
}

.restart {
  cursor:pointer
}
